{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Blog Home - Start Bootstrap Template</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'kuhub/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'kuhub/css/blog-home.css' %}" rel="stylesheet">

</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top"
     style="background: #006663">

    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'kuhub:blog-home' %}">
            <img src="{% static 'kuhub/images/logo.png' %}"
                 style="width:100px;"></a>

        <!-- Search Widget -->
        <form class="col float-left d-md-inline-block" action="{% url 'kuhub:blog-search' %}" method="get">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for blogs..." name="keyword">
                <span class="input-group-append">
                    <input type="submit" value="Go!" class="btn btn-outline-light">
                  </span>
            </div>
        </form>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'kuhub:blog-home' %}">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'kuhub:blog-forum-index' %}">Forum
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'kuhub:tag_list' %}">Tags
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'kuhub:create_blog' %}">Add Blog
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                {% if request.user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown">
                        {% if request.user.profile.profile_pic %}
                        <img src="{{ request.user.profile.profile_pic.url }}"
                             style="object-fit: cover; width: 20px; height: 20px;" class="rounded-circle">
                        {% else %}
                        <img src="{% static 'kuhub/images/def_profile_pic.png' %}"
                             style="width: 20px; height: 20px;" class="rounded-circle">
                        {% endif %}
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'profile-page' request.user.id %}"> Profile
                            <span class="sr-only">(current)</span>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'account_logout' %}"> SignOut
                            <span class="sr-only">(current)</span>
                        </a>
                    </div>
                </li>
                {% else %}
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'account_login' %}">Login
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>


<!-- Page Content -->
<div class="container" style="margin-bottom: 120px;">

    <div class="row">

        {% block content %} {% endblock %}

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->

<!-- Footer -->
<footer class="py-4" style="background: #006666; position: fixed; bottom: 0; width: 100%;">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; KU-HUB 2020</p>
    </div>
    <!-- /.container -->
</footer>

<!-- Bootstrap core JavaScript -->
<script src="{% static 'kuhub/vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'kuhub/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>

</html>
