{% extends "kuhub/base.html" %}

{% block content %}
<!-- Blog Entries Column -->
<div class="col-md-8">

    <a class="btn btn-outline-info" href="{% url 'kuhub:blog-home' %}">Back to home</a>
    {% if object.author == user %}
    <a class="btn btn-outline-secondary" href="{% url 'kuhub:blog-update' object.id %}">Edit</a>
    <a class="btn btn-outline-danger" href="{% url 'kuhub:blog-delete' object.id %}">Delete</a>
    {% endif %}
    <!-- Blog Post -->
    <div class="card mb-4">
        <img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap">
        <div class="card-body">
            <h2 class="card-title">{{ object.title }}</h2>
            <p class="card-text">{{ object.text }}</p>
        </div>
        <div class="card-footer text-muted">
            Posted on {{ object.pub_date }} by
            <a href="#">{{ object.author }}</a>
        </div>
        <br>
            <br>

            <!-- Like and Dislike features -->
            <div style="width:400px;">
                <div style="float: left; width: 100px">
                    <form action="{% url 'kuhub:like_blog' object.pk %}" method="POST">
                        {% csrf_token %}

                        <button type="submit" , name="blog_id" , value="{{ blog.id }}" , class="btn btn-outline-success">
                            LIKE
                        </button>
                    </form>
                </div>
                <div style="float: right; width: 300px">
                    <form action="{% url 'kuhub:dislike_blog' object.pk %}" method="POST">
                        {% csrf_token %}

                        <button type="submit" , name="blog_id" , value="{{ blog.id }}" , class="btn btn-outline-danger">
                            DISLIKE
                        </button>
                    </form>
                </div>
            </div>

            <br>
            Likes: {{ total_likes }}, Dislikes: {{ total_dislikes }}

        </div>
        <div>
            <!-- Blog Comments -->
            <hr>

            <h2>Comments</h2>

            <a href="{% url 'kuhub:create_comment' blog.pk %}">Add Comment</a>
            <br><br>

            {% if not object.comments.all %}
                No comment available.
                <br>
            {% else %}
                {% for comment in object.comments.all %}
                    <div class="card mb-3">

                        <div class="card-body">
                            <p class="card-text">{{ comment.text }}</p>
                        </div>
                        <div class="card-footer text-muted">
                            Posted on {{ comment.pub_date }} by
                            <a href="#">{{ comment.author }}</a>
                        </div>
                    </div>
                {% endfor %}

            {% endif %}
            <br>
        </div>
    </div>

{% endblock %}