{% extends "kuhub/base.html" %}
{% block content %}
{% load socialaccount %}
{% load static %}

<div class="container text-dark mt-5">
    <div class="row justify-content-md-center">
        <div class="col-md-5 bg-grey p-3">
            <h1 class="h3 mb-3">Sign In to KUHUB</h1>
            <a href="{% provider_login_url 'google' %}" class="btn btn btn-outline-info btn-lg btn-block" role="button"
               aria-pressed="true">Sign in with Google</a>
            <p class="mt-5 mb-3 text-muted">&copy; 2020-2020</p>

        </div>
    </div>
</div>

{% endblock %}