{% extends "kuhub/base.html" %}

{% load i18n %}
{% block content %}

<div class="container text-dark mt-2">
    <div class="row justify-content-md-left">
        <div class="col-md-5 bg-grey p-3">
            <h1 class="h3 mb-3">Change Password</h1>

            <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" name="action">{% trans "Change Password" %}</button>
            </form>

        </div>
    </div>
</div>


{% endblock %}